<footer class="site-footer">
  <div>
    <div class="address">
      <div>
        <address><strong>Atelier Fans de Terre</strong><br>51 rue Guerlain,<br>92700 Colombes</address>
        <p><a href="https://www.facebook.com/fansdeterre/" target="_blank" rel="noopener"><img
              src="../images/icone_facebook.png" alt="Facebook"></a>
          <a href="https://www.instagram.com/fans_de_terre/" target="_blank" rel="noopener"><img
              src="../images/icone_instagram.png" alt="Instagram"></a>
        </p>
      </div>
    </div>
    <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41966.787590756976!2d2.2589927667833467!3d48.89778126802401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e665e842c643b1%3A0x925e853e4532c!2sAtelier%20Fans%20de%20Terre!5e0!3m2!1sfr!2sfr!4v1619615133441!5m2!1sfr!2sfr"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy">
      </iframe>
    </div>
    <div>
      Atelier de céramique situé à Colombes dans le quartier Guerlain à 20mn de la gare St-Lazare, à proximité de
      Bois-Colombes, Courbevoie, Neuilly, Gennevilliers..., et à deux pas de l’A86.
    </div>
  </div>
</footer>