<header class="page-header" role="banner">
    <div id="first-banner">
      <h2 class="project-tagline">
        <a href="/">
        {{ page.description | default: site.description | default: site.github.project_tagline }}
        </a>
      </h2>
      <nav>
        <a href="/atelier" class="btn">Atelier</a>
        <a href="/cours_adultes" class="btn">Cours</a>
        <a href="/stages_adultes" class="btn">Stages</a>
        <a href="/activites_enfants" class="btn">Activités Enfants</a>
        <a href="/contact" class="btn">Contact</a>
      </nav> 
      <div class="btn-action">
        <a href="https://www.helloasso.com/associations/fans-de-terre" target="_blank" class="btn">Réserver</a>
        <a href="bon_kdo" class="btn">Bon cadeau</a>
      </div> 
    </div> 
    <div id="banner-image"></div>
    {% if site.show_downloads %}
      <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
      <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
  </header>
