.project-tagline {
  font-family: 'Nothing You Could Do', cursive;
  margin-bottom: 1rem !important;
}
.project-tagline a {
  color: #860d0d;
  font-size: 2.7rem;
}
#banner-image {
  background: url("http://www.fansdeterre.com/attachments/Header/published_image_1.jpg") no-repeat;
  background-size: auto;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}
#first-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(90, 128, 107);
}
#first-banner a {
  margin: 0 !important;
}

h1, h2 {
  color: #860d0d;
}
.page-header {
  padding: 0 !important;
}
.image-stage {
  float: right; 
  margin: 1.5em;
}
footer {
  background-color: rgb(90, 128, 107);
  color: rgba(255, 255, 255, 0.7);
}
footer > div {
  max-width: 64rem;
  padding: 2rem 4rem;
  margin: 0 auto;
}
footer .address{
  margin-bottom: 1rem;
}
footer .address img {
  max-width: 3rem;
  transition: transform 0.5s;
}
footer .address > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .address img:hover {
transform: scale(1.1);
}
h1 a, h2 a {
color: #159957 !important ;
}
