.project-tagline {
  font-family: 'Nothing You Could Do', cursive;
  margin-bottom: 1rem !important;
}
.project-tagline a {
  color: #860d0d !important;
  font-size: 2.7rem;
}
#banner-image {
  background: url("http://www.fansdeterre.com/attachments/Header/published_image_1.jpg") no-repeat;
  background-size: auto;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}
#first-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(90, 128, 107);
}
#first-banner a {
  margin: 0 !important;
}
.btn-action a {
  color: rgb(90, 128, 107) !important;
  background-color: rgb(255 255 255 / 82%) !important;
}
@media only screen and (max-width: 55rem){
  #btn-desktop {
    display: none;
  }
  #btn-mobile {
    display: inline;
  }
  .project-tagline a {
    font-size: 2rem;
  }
  .btn + .btn {
    margin-top: 0.2rem;
  }
  .btn {
    padding: 0.50rem;
    margin-bottom: 0;
  }
  #menu a {
    background-color:rgba(90, 128, 107, 0.36) ;
  }
}
@media only screen and (min-width: 56rem){
  #btn-mobile {
    display: none;
  }
}
h1, h2 {
  color: #860d0d;
}
.page-header {
  padding: 0 !important;
}
.image-stage {
  float: right; 
  margin: 1.5em;
}
footer {
  background-color: rgb(90, 128, 107);
  color: rgba(255, 255, 255, 0.7);
}
footer > div {
  max-width: 64rem;
  padding: 1rem 4rem;
  margin: 0 auto;
}
footer .address{
  margin-bottom: 1rem;
}
footer .address img {
  max-width: 3rem;
  transition: transform 0.5s;
}
footer .address > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .address img:hover {
transform: scale(1.1);
}
.site-footer {
  padding-top: 0 !important;
}
h1 a, h2 a {
color: #159957 !important ;
}
@media only screen and (max-width: 55rem){
  nav {
    display: none;
  }
}  