.project-tagline {
  font-family: 'Nothing You Could Do', cursive;
}
.project-tagline a {
  color: #860d0d;
  font-size: 2rem;
}
#banner-image {
  background: url("http://www.fansdeterre.com/attachments/Header/published_image_1.jpg") no-repeat;
  background-size: auto;
  background-size: cover;
  width: 100vw;
  height: 40vh;
}
#first-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(90, 128, 107);
}
#first-banner a {
  margin: 0 !important;
}

h1, h2 {
  color: #860d0d;
}
.page-header {
  padding: 0 !important;
}
